In [387]:
import pandas as pd
import numpy as np
import regex as re
import datetime

In [388]:
df = pd.read_csv('./GA_DSI/mighty_data_challenge.csv')

In [389]:
df.head()

,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels
3,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",(826) 259-2768,beakin@fake.gmail.com,2/2/2018,700,OPEN,General Assembly,Joseph Breitstein
4,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,6/9/2017,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN

In [390]:
df.shape

(8, 9)

In [391]:
df.isnull().sum()

plaintiff_name       0
plaintiff_address    3
plainitiff_phone     2
plaintiff_email      2
agreement_date       0
lien_description     0
lien_open_closed     0
lienholder           0
attorney             1
dtype: int64

In [392]:
df.dtypes

plaintiff_name       object
plaintiff_address    object
plainitiff_phone     object
plaintiff_email      object
agreement_date       object
lien_description     object
lien_open_closed     object
lienholder           object
attorney             object
dtype: object

In [393]:
df['id'] = 0

counter = 5010
for i in range(df.shape[0]):
    df['id'][i] = counter
    counter += 1

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [394]:
df.head(3)

,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,id
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,5010
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein,5011
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,5012

In [395]:
col_list = list(df.columns)
col_list.remove('id')
col_list = ['id'] + col_list
col_list

df = df[col_list]

df.head(3)

In [401]:
df.id = df.id.astype(int)

In [402]:
#df.plainitiff_phone = df.plainitiff_phone.astype(int)

In [403]:
df.plainitiff_phone = df.plainitiff_phone.astype(str)

In [404]:
df.replace('nan', np.nan, inplace=True)

In [405]:
for _ in range(len(df.plainitiff_phone)):
    if type(df.plainitiff_phone[_]) == float:
        pass
    else:
        number = ''
        for i in re.findall('[0-9]', df.plainitiff_phone[_]):
            number += str(i)
        number = int(number)
        df.plainitiff_phone[_] = number
#return number

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [406]:
type(df.plainitiff_phone[3])

int

In [407]:
type(df.agreement_date[0])

str

In [408]:
date_str = df.agreement_date[0] # The date - 29 Dec 2017
format_str = '%m/%d/%Y' # The format
datetime_obj = datetime.datetime.strptime(date_str, format_str)
datetime_obj

datetime.datetime(2015, 4, 16, 0, 0)

In [409]:
for i in range(len(df.agreement_date)):
    date_str = df.agreement_date[i]
    format_str = '%m/%d/%Y'
    datetime_obj = datetime.datetime.strptime(date_str, format_str)
    df.agreement_date[i] = datetime_obj

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [359]:
type(df.agreement_date[0])

datetime.datetime

In [ ]:
df.plainitiff_phone = df.plainitiff_phone.astype(int)

In [ ]:
df.dtypes

In [ ]:
df.head()

---

# Function to create random ID's

---

In [430]:
keys_list = list(dict(df['attorney'].value_counts()).keys())

temp_dict = {}
for i in keys_list:
    temp_dict[i] = np.random.randint(1000, 9999) 

df['attorney_id'] = 0
for i in range(len(df['attorney'])):
    if type(df['attorney'][i]) == float:
        df['attorney_id'][i] = np.nan
    else:
        df['attorney_id'][i] = int(temp_dict[df['attorney'][i]])

In [427]:
df

,id,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,attorney_id
0,5010,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,3223.0
1,5011,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,second lien on the case,OPEN,General Assembly,Joseph Breitstein,3223.0
2,5012,Jordan Leung,"9261 Seside pl, NY",7364591203,charmander6@pokefan.com,2017-09-19 00:00:00,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,2452.0
3,5013,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",8262592768,beakin@fake.gmail.com,2018-02-02 00:00:00,700,OPEN,General Assembly,Joseph Breitstein,3223.0
4,5014,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,2017-06-09 00:00:00,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN,NaN
5,5015,Mikey Bipps,NaN,9372760317,NaN,2018-05-27 00:00:00,"bought at 30% of value, value is 300",OPEN,General Assembly,Joseph Breitstein,3223.0
6,5016,Tommy Boi,NaN,9036406,NaN,2019-01-02 00:00:00,values is 400,CLOSED,General Assembly,Sarah McConnor,9394.0
7,5017,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com,2017-04-07 00:00:00,plaintiff is requesting additional liens,OPEN,General Assembly,Lisle Von Trapp,6876.0

---

# Plaintiffs table

---

In [ ]:
df.columns

In [ ]:
df_plaintiffs = df[['id', 'plaintiff_name', 'plaintiff_address', 'plainitiff_phone',
       'plaintiff_email']]

In [ ]:
df_plaintiffs

In [ ]:
df_plaintiffs.dtypes

In [ ]:
df_plaintiffs = df_plaintiffs.drop_duplicates(subset=['plaintiff_name', 'plaintiff_address', 'plainitiff_phone',
       'plaintiff_email'])

In [ ]:
df_plaintiffs

In [ ]:
temp_list = []
for i in range(len(attorney)):
    if attorney[i] in temp_list:
        pass
    else:
        temp_list.append(i)