In [1]:
import pandas as pd
import numpy as np
import regex as re
import datetime

In [2]:
df = pd.read_csv('/Users/KevinWAguiar/Desktop/mighty_data_challenge.csv')

In [3]:
df.head()

,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels
3,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",(826) 259-2768,beakin@fake.gmail.com,2/2/2018,700,OPEN,General Assembly,Joseph Breitstein
4,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,6/9/2017,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN

In [4]:
df.shape

(8, 9)

In [5]:
df.drop_duplicates().shape

(8, 9)

In [6]:
df.isnull().sum()

plaintiff_name       0
plaintiff_address    3
plainitiff_phone     2
plaintiff_email      2
agreement_date       0
lien_description     0
lien_open_closed     0
lienholder           0
attorney             1
dtype: int64

In [7]:
df.dtypes

plaintiff_name       object
plaintiff_address    object
plainitiff_phone     object
plaintiff_email      object
agreement_date       object
lien_description     object
lien_open_closed     object
lienholder           object
attorney             object
dtype: object

---

## Create 'id' column:

---

In [8]:
df['Id'] = 0

counter = 5010
for i in range(df.shape[0]):
    df['Id'][i] = counter
    counter += 1

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [9]:
df.head(3)

,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,Id
0,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,5010
1,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein,5011
2,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,5012

---

## Rearrange column order:

---

In [10]:
col_list = list(df.columns)
col_list.remove('Id')
col_list = ['Id'] + col_list
col_list

df = df[col_list]

df.head(3)

,Id,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney
0,5010,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein
1,5011,Steve Freud,4673 Cardath Ave,(936) 120-0443,sfreud@fake.gmail.com,4/16/2015,second lien on the case,OPEN,General Assembly,Joseph Breitstein
2,5012,Jordan Leung,"9261 Seside pl, NY",(736) 459-1203,charmander6@pokefan.com,9/19/2017,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels

---

## Replace 'nan' strings with NaN values:

---

In [11]:
df.replace('nan', np.nan, inplace=True)

---

## Reformat/change 'plaintiff_phone' to int datatype:

---

In [12]:
for _ in range(len(df.plainitiff_phone)):
    if type(df.plainitiff_phone[_]) == float:
        pass
    else:
        number = ''
        for i in re.findall('[0-9]', df.plainitiff_phone[_]):
            number += str(i)
        number = int(number)
        df.plainitiff_phone[_] = number

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [13]:
df.plainitiff_phone

0    9361200443
1    9361200443
2    7364591203
3    8262592768
4           NaN
5    9372760317
6       9036406
7           NaN
Name: plainitiff_phone, dtype: object

---

## Reformat/change 'agreement_date' to datetime datatype:

---

In [14]:
for i in range(len(df.agreement_date)):
    date_str = df.agreement_date[i]
    format_str = '%m/%d/%Y'
    datetime_obj = datetime.datetime.strptime(date_str, format_str)
    df.agreement_date[i] = datetime_obj

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [15]:
df

,Id,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney
0,5010,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein
1,5011,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,second lien on the case,OPEN,General Assembly,Joseph Breitstein
2,5012,Jordan Leung,"9261 Seside pl, NY",7364591203,charmander6@pokefan.com,2017-09-19 00:00:00,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels
3,5013,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",8262592768,beakin@fake.gmail.com,2018-02-02 00:00:00,700,OPEN,General Assembly,Joseph Breitstein
4,5014,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,2017-06-09 00:00:00,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN
5,5015,Mikey Bipps,NaN,9372760317,NaN,2018-05-27 00:00:00,"bought at 30% of value, value is 300",OPEN,General Assembly,Joseph Breitstein
6,5016,Tommy Boi,NaN,9036406,NaN,2019-01-02 00:00:00,values is 400,CLOSED,General Assembly,Sarah McConnor
7,5017,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com,2017-04-07 00:00:00,plaintiff is requesting additional liens,OPEN,General Assembly,Lisle Von Trapp

---

## Function to create random ID's for given column:

---

In [16]:
def create_random_id(column, df=df):
    #create a list of keys to be used in temp. dictionary below:
    keys_list = list(dict(df[column].value_counts()).keys())
    
    #create a list of numbers between 1000 and 9999 to use when making a four digit id number below:
    random_nums = list(range(1000, 9999))
    
    #use a temp. dictionary to create id's to ensure that each key only has one unique value id number:
    temp_dict = {}
    
    #for loop through each key:
    for i in keys_list:
        
        #assign a number as the id for the given key:
        temp_dict[i] = np.random.choice(random_nums)
        
        #remove the number assigned to the key from the list of numbers to ensure that no duplicates are created:
        random_nums.remove(temp_dict[i])
    
    #create a new column with the id numbers for each value in the given column:
    df[str(column + '_id')] = 0
    
    for i in range(len(df[column])):
        #if statement to deal with NaN values:
        if type(df[column][i]) == float:
            df[str(column + '_id')][i] = np.nan
        #use the temp dictionary created above to assign the new column's values:
        else:
            df[str(column + '_id')][i] = int(temp_dict[df[column][i]])

---

# Plaintiffs table:

---

In [17]:
df.head(3)

,Id,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney
0,5010,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein
1,5011,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,second lien on the case,OPEN,General Assembly,Joseph Breitstein
2,5012,Jordan Leung,"9261 Seside pl, NY",7364591203,charmander6@pokefan.com,2017-09-19 00:00:00,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels

In [18]:
df_plaintiffs = df[['Id', 'plaintiff_name', 'plaintiff_address', 'plainitiff_phone', 'plaintiff_email']]

In [19]:
df_plaintiffs.head(3)

,Id,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email
0,5010,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com
1,5011,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com
2,5012,Jordan Leung,"9261 Seside pl, NY",7364591203,charmander6@pokefan.com

In [20]:
df_plaintiffs.rename(index=str, columns={"plaintiff_name": "name", "plaintiff_address": "address", "plainitiff_phone": "phone", "plaintiff_email": "email"}, inplace=True)

/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

In [21]:
df_plaintiffs.head(3)

     Id          name             address       phone                    email
0  5010   Steve Freud    4673 Cardath Ave  9361200443    sfreud@fake.gmail.com
1  5011   Steve Freud    4673 Cardath Ave  9361200443    sfreud@fake.gmail.com
2  5012  Jordan Leung  9261 Seside pl, NY  7364591203  charmander6@pokefan.com

### I am assuming that the 'id' column should not be considered when dropping duplicates; every value in the 'id' column is unique, so no rows would be dropped.

In [22]:
#Drop duplicate rows (again, not including the 'id' column):

df_plaintiffs = df_plaintiffs.drop_duplicates(subset=['name', 'address', 'phone',
       'email'])

In [23]:
df_plaintiffs

,Id,name,address,phone,email
0,5010,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com
2,5012,Jordan Leung,"9261 Seside pl, NY",7364591203,charmander6@pokefan.com
3,5013,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",8262592768,beakin@fake.gmail.com
4,5014,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com
5,5015,Mikey Bipps,NaN,9372760317,NaN
6,5016,Tommy Boi,NaN,9036406,NaN
7,5017,Mimi Swerve,"8456 Lexington, Manhattan NY",NaN,mimis@fake.yahoo.com

In [24]:
df_plaintiffs.to_csv('Plaintiffs.csv', index=False, sep=",")

---

# Case table:

---

In [25]:
df.columns

Index(['Id', 'plaintiff_name', 'plaintiff_address', 'plainitiff_phone',
       'plaintiff_email', 'agreement_date', 'lien_description',
       'lien_open_closed', 'lienholder', 'attorney'],
      dtype='object')

In [26]:
create_random_id(df=df, column='plaintiff_name')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [27]:
create_random_id(df=df, column='attorney')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

In [28]:
df_case = df[['Id', 'plaintiff_name_id', 'agreement_date', 'attorney_id']]

In [29]:
df_case

     Id  plaintiff_name_id       agreement_date  attorney_id
0  5010               1541  2015-04-16 00:00:00       2297.0
1  5011               1541  2015-04-16 00:00:00       2297.0
2  5012               2098  2017-09-19 00:00:00       4980.0
3  5013               8183  2018-02-02 00:00:00       2297.0
4  5014               8980  2017-06-09 00:00:00          NaN
5  5015               9265  2018-05-27 00:00:00       2297.0
6  5016               1341  2019-01-02 00:00:00       9340.0
7  5017               7655  2017-04-07 00:00:00       1798.0

In [30]:
df_case.rename(index=str, columns={"plaintiff_name_id": "plaintiff_id"}, inplace=True)

In [31]:
df_case

     Id  plaintiff_id       agreement_date  attorney_id
0  5010          1541  2015-04-16 00:00:00       2297.0
1  5011          1541  2015-04-16 00:00:00       2297.0
2  5012          2098  2017-09-19 00:00:00       4980.0
3  5013          8183  2018-02-02 00:00:00       2297.0
4  5014          8980  2017-06-09 00:00:00          NaN
5  5015          9265  2018-05-27 00:00:00       2297.0
6  5016          1341  2019-01-02 00:00:00       9340.0
7  5017          7655  2017-04-07 00:00:00       1798.0

In [32]:
df_case.to_csv('Case_table.csv', index=False, sep=",")

---

# attornies table:

---

In [33]:
df.head(3)

,Id,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,plaintiff_name_id,attorney_id
0,5010,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,1541,2297.0
1,5011,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,second lien on the case,OPEN,General Assembly,Joseph Breitstein,1541,2297.0
2,5012,Jordan Leung,"9261 Seside pl, NY",7364591203,charmander6@pokefan.com,2017-09-19 00:00:00,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,2098,4980.0

In [34]:
df_attornies = df[['attorney_id', 'attorney','plainitiff_phone', 'plaintiff_email']]

In [35]:
df_attornies

   attorney_id           attorney plainitiff_phone          plaintiff_email
0       2297.0  Joseph Breitstein       9361200443    sfreud@fake.gmail.com
1       2297.0  Joseph Breitstein       9361200443    sfreud@fake.gmail.com
2       4980.0    Julian Michaels       7364591203  charmander6@pokefan.com
3       2297.0  Joseph Breitstein       8262592768    beakin@fake.gmail.com
4          NaN                NaN              NaN    kpaine@fake.gmail.com
5       2297.0  Joseph Breitstein       9372760317                      NaN
6       9340.0     Sarah McConnor          9036406                      NaN
7       1798.0    Lisle Von Trapp              NaN     mimis@fake.yahoo.com

## For the purposes of the SQL Section, I will create fake phone numbers for each attorney:

In [36]:
type(df_attornies['attorney'][4])

float

In [37]:
def create_random_phone(column, df=df):
    #create a list of keys to be used in temp. dictionary below:
    keys_list = list(dict(df[column].value_counts()).keys())
    
    #create a list of numbers between 1000 and 9999 to use when making a four digit id number below:
    random_nums = list(range(9175551000, 9175559999))
    
    #use a temp. dictionary to create id's to ensure that each key only has one unique value id number:
    temp_dict = {}
    
    #for loop through each key:
    for i in keys_list:
        
        #assign a number as the id for the given key:
        temp_dict[i] = np.random.choice(random_nums)
        
        #remove the number assigned to the key from the list of numbers to ensure that no duplicates are created:
        random_nums.remove(temp_dict[i])
    
    #create a new column with the id numbers for each value in the given column:
    df[str(column + '_phone')] = 0
    
    for i in range(len(df[column])):
        #if statement to deal with NaN values:
        if type(df[column][i]) == float:
            df[str(column + '_phone')][i] = np.nan
        #use the temp dictionary created above to assign the new column's values:
        else:
            df[str(column + '_phone')][i] = int(temp_dict[df[column][i]])

In [38]:
type(df_attornies['attorney_id'][4])

numpy.float64

In [39]:
df_attornies

   attorney_id           attorney plainitiff_phone          plaintiff_email
0       2297.0  Joseph Breitstein       9361200443    sfreud@fake.gmail.com
1       2297.0  Joseph Breitstein       9361200443    sfreud@fake.gmail.com
2       4980.0    Julian Michaels       7364591203  charmander6@pokefan.com
3       2297.0  Joseph Breitstein       8262592768    beakin@fake.gmail.com
4          NaN                NaN              NaN    kpaine@fake.gmail.com
5       2297.0  Joseph Breitstein       9372760317                      NaN
6       9340.0     Sarah McConnor          9036406                      NaN
7       1798.0    Lisle Von Trapp              NaN     mimis@fake.yahoo.com

In [40]:
create_random_phone(df=df_attornies,column='attorney')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.6/site-packages/pandas/core/series.py:915: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.loc[key] = value

In [41]:
df_attornies

,attorney_id,attorney,plainitiff_phone,plaintiff_email,attorney_phone
0,2297.0,Joseph Breitstein,9361200443,sfreud@fake.gmail.com,9.175553e+09
1,2297.0,Joseph Breitstein,9361200443,sfreud@fake.gmail.com,9.175553e+09
2,4980.0,Julian Michaels,7364591203,charmander6@pokefan.com,9.175553e+09
3,2297.0,Joseph Breitstein,8262592768,beakin@fake.gmail.com,9.175553e+09
4,NaN,NaN,NaN,kpaine@fake.gmail.com,NaN
5,2297.0,Joseph Breitstein,9372760317,NaN,9.175553e+09
6,9340.0,Sarah McConnor,9036406,NaN,9.175556e+09
7,1798.0,Lisle Von Trapp,NaN,mimis@fake.yahoo.com,9.175559e+09

## For the purposes of the SQL Section, I will create fake emails for each attorney:

In [42]:
lawfirm_handles = ['Partners.com', 'LLC.com', 'LawFirm.com']

temp_list = []
for i in df_attornies['attorney']:
    if i not in temp_list and type(i) != float:
        temp_list.append(i)
    else:
        pass

temp_dict = {}
for i in temp_list:
    if i not in temp_dict.keys():
        temp_dict[i] = str(i.split()[0] + i.split()[-1][0] + '@' + i.rsplit()[-1] + np.random.choice(lawfirm_handles))

df_attornies['attorney_email'] = 0
for i in range(len(df_attornies['attorney_id'])):
    if str(df_attornies['attorney_id'][i]) == 'nan':
        df_attornies['attorney_email'][i] = np.nan
    else:
        df_attornies['attorney_email'][i] = temp_dict[df_attornies['attorney'][i]]

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3267: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [43]:
df_attornies

,attorney_id,attorney,plainitiff_phone,plaintiff_email,attorney_phone,attorney_email
0,2297.0,Joseph Breitstein,9361200443,sfreud@fake.gmail.com,9.175553e+09,JosephB@BreitsteinPartners.com
1,2297.0,Joseph Breitstein,9361200443,sfreud@fake.gmail.com,9.175553e+09,JosephB@BreitsteinPartners.com
2,4980.0,Julian Michaels,7364591203,charmander6@pokefan.com,9.175553e+09,JulianM@MichaelsPartners.com
3,2297.0,Joseph Breitstein,8262592768,beakin@fake.gmail.com,9.175553e+09,JosephB@BreitsteinPartners.com
4,NaN,NaN,NaN,kpaine@fake.gmail.com,NaN,NaN
5,2297.0,Joseph Breitstein,9372760317,NaN,9.175553e+09,JosephB@BreitsteinPartners.com
6,9340.0,Sarah McConnor,9036406,NaN,9.175556e+09,SarahM@McConnorPartners.com
7,1798.0,Lisle Von Trapp,NaN,mimis@fake.yahoo.com,9.175559e+09,LisleT@TrappLawFirm.com

In [44]:
df_attornies.rename(index=str, columns={"attorney_id": "id", "attorney": "name"}, inplace=True)

In [45]:
df_attornies

,id,name,plainitiff_phone,plaintiff_email,attorney_phone,attorney_email
0,2297.0,Joseph Breitstein,9361200443,sfreud@fake.gmail.com,9.175553e+09,JosephB@BreitsteinPartners.com
1,2297.0,Joseph Breitstein,9361200443,sfreud@fake.gmail.com,9.175553e+09,JosephB@BreitsteinPartners.com
2,4980.0,Julian Michaels,7364591203,charmander6@pokefan.com,9.175553e+09,JulianM@MichaelsPartners.com
3,2297.0,Joseph Breitstein,8262592768,beakin@fake.gmail.com,9.175553e+09,JosephB@BreitsteinPartners.com
4,NaN,NaN,NaN,kpaine@fake.gmail.com,NaN,NaN
5,2297.0,Joseph Breitstein,9372760317,NaN,9.175553e+09,JosephB@BreitsteinPartners.com
6,9340.0,Sarah McConnor,9036406,NaN,9.175556e+09,SarahM@McConnorPartners.com
7,1798.0,Lisle Von Trapp,NaN,mimis@fake.yahoo.com,9.175559e+09,LisleT@TrappLawFirm.com

In [46]:
df_attornies.drop_duplicates(inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [47]:
df_attornies.to_csv('attornies.csv', index=False, sep=",")

---

# lien table:

---

In [48]:
df.head(3)

,Id,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,plaintiff_name_id,attorney_id
0,5010,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,1541,2297.0
1,5011,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,second lien on the case,OPEN,General Assembly,Joseph Breitstein,1541,2297.0
2,5012,Jordan Leung,"9261 Seside pl, NY",7364591203,charmander6@pokefan.com,2017-09-19 00:00:00,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,2098,4980.0

In [49]:
create_random_id(df=df, column='lienholder')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [50]:
len(df['Id'].value_counts())

8

In [51]:
df['case_id'] = 0

for i in range(len(df.Id)):
    df['case_id'][i] = int(str(df['Id'][i]) + str(df['plaintiff_name_id'][i]))

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [52]:
df_lien = df[['Id','case_id', 'lien_description', 'lien_open_closed', 'lienholder_id']]

In [53]:
df_lien

,Id,case_id,lien_description,lien_open_closed,lienholder_id
0,5010,50101541,"this is the first lien on the case , valued at...",OPEN,6954
1,5011,50111541,second lien on the case,OPEN,6954
2,5012,50122098,"this interest has settled, waiting for payment",CLOSED,6954
3,5013,50138183,700,OPEN,6954
4,5014,50148980,"value is 100,000 pay off is expected to be tak...",OPEN,6954
5,5015,50159265,"bought at 30% of value, value is 300",OPEN,6954
6,5016,50161341,values is 400,CLOSED,6954
7,5017,50177655,plaintiff is requesting additional liens,OPEN,6954

In [54]:
df_lien.rename(index=str, columns={"Id": "id", "lien_description": "description", "lien_open_closed": "open"}, inplace=True)

In [55]:
df_lien

,id,case_id,description,open,lienholder_id
0,5010,50101541,"this is the first lien on the case , valued at...",OPEN,6954
1,5011,50111541,second lien on the case,OPEN,6954
2,5012,50122098,"this interest has settled, waiting for payment",CLOSED,6954
3,5013,50138183,700,OPEN,6954
4,5014,50148980,"value is 100,000 pay off is expected to be tak...",OPEN,6954
5,5015,50159265,"bought at 30% of value, value is 300",OPEN,6954
6,5016,50161341,values is 400,CLOSED,6954
7,5017,50177655,plaintiff is requesting additional liens,OPEN,6954

In [56]:
for i in range(len(df_lien['open'])):
    if df_lien['open'][i] == 'OPEN':
        df_lien['open'][i] = True
    else:
        df_lien['open'][i] = False

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [57]:
df_lien

,id,case_id,description,open,lienholder_id
0,5010,50101541,"this is the first lien on the case , valued at...",True,6954
1,5011,50111541,second lien on the case,True,6954
2,5012,50122098,"this interest has settled, waiting for payment",False,6954
3,5013,50138183,700,True,6954
4,5014,50148980,"value is 100,000 pay off is expected to be tak...",True,6954
5,5015,50159265,"bought at 30% of value, value is 300",True,6954
6,5016,50161341,values is 400,False,6954
7,5017,50177655,plaintiff is requesting additional liens,True,6954

In [58]:
df_lien.to_csv('lien.csv', index=False, sep=",")

---

# lienholder table:

---

In [59]:
df.head(3)

,Id,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,plaintiff_name_id,attorney_id,lienholder_id,case_id
0,5010,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,1541,2297.0,6954,50101541
1,5011,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,second lien on the case,OPEN,General Assembly,Joseph Breitstein,1541,2297.0,6954,50111541
2,5012,Jordan Leung,"9261 Seside pl, NY",7364591203,charmander6@pokefan.com,2017-09-19 00:00:00,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,2098,4980.0,6954,50122098

In [60]:
create_random_id(df=df, column='Id')

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [61]:
df.head()

,Id,plaintiff_name,plaintiff_address,plainitiff_phone,plaintiff_email,agreement_date,lien_description,lien_open_closed,lienholder,attorney,plaintiff_name_id,attorney_id,lienholder_id,case_id,Id_id
0,5010,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,"this is the first lien on the case , valued at...",OPEN,General Assembly,Joseph Breitstein,1541,2297.0,6954,50101541,5280
1,5011,Steve Freud,4673 Cardath Ave,9361200443,sfreud@fake.gmail.com,2015-04-16 00:00:00,second lien on the case,OPEN,General Assembly,Joseph Breitstein,1541,2297.0,6954,50111541,4570
2,5012,Jordan Leung,"9261 Seside pl, NY",7364591203,charmander6@pokefan.com,2017-09-19 00:00:00,"this interest has settled, waiting for payment",CLOSED,General Assembly,Julian Michaels,2098,4980.0,6954,50122098,4536
3,5013,Bryce Eakin,"6947 Palm Beach way, new York, NY 18342",8262592768,beakin@fake.gmail.com,2018-02-02 00:00:00,700,OPEN,General Assembly,Joseph Breitstein,8183,2297.0,6954,50138183,6851
4,5014,Kyle Paine,NaN,NaN,kpaine@fake.gmail.com,2017-06-09 00:00:00,"value is 100,000 pay off is expected to be tak...",OPEN,General Assembly,NaN,8980,NaN,6954,50148980,8681

In [62]:
df_lienholder = df[['lienholder_id', 'lienholder']]

In [63]:
df_lienholder

   lienholder_id        lienholder
0           6954  General Assembly
1           6954  General Assembly
2           6954  General Assembly
3           6954  General Assembly
4           6954  General Assembly
5           6954  General Assembly
6           6954  General Assembly
7           6954  General Assembly

In [64]:
df_lienholder.rename(index=str, columns={"lienholder_id": "id", "lienholder": "name"}, inplace=True)

In [65]:
df_lienholder.drop_duplicates(inplace=True)

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [66]:
df_lienholder

     id              name
0  6954  General Assembly

In [67]:
df_lienholder.to_csv('lienholder.csv', index=False, sep=",")